*{
	box-sizing: border-box;
}

body
{
	font-family: 'Roboto', arial;
	font-size: 14px;
	color: black;
	margin-top: 105px;
}

blockquote
{
	font-style: italic;
}

pre
{
	background-color: #353333;
	color: #de3b72;
	padding: 20px;
}

pre span
{
	color: #fff;
}

code
{
	background-color: #eee;
}

/* aqui los estilos de los titulos */
h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin:0 0 50px 0; 
	font-size: 20px;
	color: red;
}

h2.amarillo{
	color: yellow;
}

h2.amarillo.patito{
	font-size: 40px;
}

a{
	color: black;
	text-decoration: none;
}

header
{
	padding: 15px;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
	width: 100%;
	background-color: rgba(255,255,255,.5);
}

nav ul
{
	list-style: none;
	padding-left: 0;
}

nav ul li
{
	display: inline-block;
	margin: 0 -1px;
}

nav ul li a
{
	padding: 10px 15px;
}

article
{
	padding: 30px;
	margin-bottom: 30px;
	border-bottom: 2px solid #ddd;
}

article h2.patito span i
{

}

p
{
	line-height: 1.1;
}

span
{
	color: red;
}

img
{
	width: 100%;
	height: auto;
	display: block;
}

section
{
	padding-top: 60px;
	padding-bottom: 60px;
}

section.seccion-1
{
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100vh;
	/*background-image: url("../img/imagen.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;*/
}

section.seccion-1 img
{
	width: 100%;
	height: 100%;
	object-fit: cover;  /* esta propiedad solo funciona en etiquetas IMG y VIDEO */
	object-position: center;
}

section.seccion-2{
	background-color: #eee;
}

section.seccion-3{
	background-color: #ddd;
}

section.seccion-2 h2,
section.seccion-3 h2,
section.seccion-4 h2
{
	color: black;
	margin-bottom: 30px;
	text-align: center;
}

section .cuadrado
{
	width: 33.333333%;
	display: inline-block;
	margin: -1.3px;
	padding-bottom: 33.33%;
	position: relative;
}

section .cuadrado img.img-responsive
{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

section .contenedor-video
{
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
}

section .contenedor-video iframe
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

section.fondo-video
{
    height: calc(100vh - 105px);
    background-color: black;
    position: relative;
    padding: 0;
    overflow: hidden;
}

section.fondo-video video
{
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	/*opacity: .25;*/
}

section.fondo-video .trama
{
	background-image: url("../img/trama.png");
	background-repeat: repeat;
	background-position: center;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}

section p
{
	text-align: justify;
}

section.seccion-2  p
{
	text-align: center;
}

section.layout
{
	padding: 0px;
}

footer
{
	background-color: black;
	text-align: center;
	color: white;
	padding: 15px;
	font-size: 12px;
}

.container-fluid
{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.container
{
	width: 1199px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#logo
{
	width: 50px;
	height: auto;
	display: inline-block;
}