*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #000;
}

::selection {
    color: #fff;
    background: #000;
}

@font-face {
	font-family: 'NexaSlabBlack';
	src: url('../fonts/NexaSlabBlack.eot');
	src: local('☺'), 
	url('../fonts/NexaSlabBlack.woff') format('woff'), 
	url('../fonts/NexaSlabBlack.ttf') format('truetype'), 
	url('../fonts/NexaSlabBlack.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html
{
	font-size: 14px;
}

body
{
	/*font-family: 'NexaSlabBlack', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-size: 1rem;
	color: black;
	margin-top: 101.25px;
}

a{
	text-decoration: none;
	display: inline-block;
}

/*
a:visited{
	color: red;
}*/

a
{
	/*
	Quita todos los eventos del tab
	
	pointer-events: none;
	*/
}

a.btn{
	padding: 14px 21px;
	padding: 1rem 1.5rem;
	color: #fff;
	background-color: #aaa;
	text-transform: uppercase;
	border: 1px solid transparent;
	/*outline: 1px solid red;*/
	transition: all .4s ease-in;
}

a.btn:hover{
	color: #000;
	background-color: transparent;
	border: 1px solid #000;
}

.img-fluid
{
	width: 100%;
	display: block;
	height: auto;
}

.container,
.container-fluid
{
	padding: 0 14px;
	padding: 0 1rem;
	margin: 0 auto 0 auto;
	position: relative;
}

.container
{
	width: 1199px;
}

.container-fluid
{
	width: 100%;
}

/*
.contenedor-tabla
{
	display: table;
	width: 1199px;
	margin: 0 auto;
}


.row-flex
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.columna-flex
{
	padding: 0 1rem;
	text-align: center;
	width: 40%;
}

.columna-tabla-4
{
	width: 33.33%;
	float: left;
	padding: 0 1rem;
	text-align: center;
}

.comodin
{
	clear: both;
}*/

.row
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	/*

	*/
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	/*

	*/
	margin: 0 -14px;
	margin: 0 -1rem;
}

.columna
{
/*	display: inline-block;
	vertical-align: top;
	margin: 0 -1.4px;*/
	padding: 0 14px;
	padding: 0 1rem;
}

.columna-3
{
	width: 25%;
}

.columna-4
{
	width: 33.33%;
}

.columna-6
{
	width: 50%;
}

header
{
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 9999;
	top: 0px;
	left: 0px;
	padding: 14px 0;
	padding: 1rem 0;
	background-color: rgba(255,255,255, 0.5);
}

header .row
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	/* 

	*/
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	/* 

	*/
	width: 85%;
	margin: 0 auto;
}

header .img-logo
{
	display: inline-block;
	width: 100px;
	height: auto;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}

header nav
{
	
}

header nav a
{
	display: inline-block;
	margin: 0 1px;
	padding: 10px 20px;
	line-height: 1;
	color: #000;
}

section
{
	padding-top: 70px;
	padding-top : 5rem;
	padding-bottom: 70px;
	padding-bottom: 5rem;
}

section.seccion1
{
	height: calc(100vh - 101.25px);
	background-color: #000;
	position: relative;
	padding-top :0;
	padding-bottom: 0;
}

section.seccion1 img
{
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
	height: 100%;
	width: 100%;
	opacity: .6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

section.seccion1 .contenedor-titulo
{
	position: absolute;
	top: 50%;
	left: 42px;
	left: 3rem;
	text-align: left;
	margin-top: -37px;
}

section.seccion1 .contenedor-titulo h1
{
	color: #fff;
	font-size: 49px;
	font-size: 3.5rem;
	text-transform: uppercase;
	margin: 0 0 14px 0;
	margin: 0 0 1rem 0;
	line-height: 1;
}

section.seccion1 .contenedor-titulo p
{
	color: #fff;
	margin: 0;
	line-height: 1;
}



section.seccion2
{
	background-color: #eee;
	/*
	PARALLAX SIMPLE*/
	/*background-image: url(../img/banner1.jpg);*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-image: linear-gradient(-45deg,#909090ad, #fff);
}

section.seccion2 .columna
{
	text-align: center;
	user-select: none; 
}


section.seccion2 .columna img.imagen-texto
{
	/*float: elemento flotante
		left
		right
		none
	*/
	width: 100px;
	float: left;
}

section.seccion2 p{
	/*indentacion
	text-indent: 100px;
	*/
}

section.seccion2 p:first-letter
{
	font-size: 4rem;
	margin-right: 10px;
	color: #000;
	float: left;
	font-family: "comic-sans";
	line-height: 1;
}

section.seccion2 p:first-line
{
	
	background-color: #000;
	color: #fff;
	font-family: "comic-sans";
}

section.seccion2 a.btn
{
	transform: skewX(-30deg);
	/*transform: perspective(400px) rotateY(45deg);*/
}

section.seccion2 a.btn span
{
	display: inline-block;
	transform: skewX(30deg);
}

section.seccion2 i
{
	font-size: 28px;
	font-size: 2rem;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}

section.seccion2 p
{
	line-height: 1.5;
	margin-bottom: 28px;
	margin-bottom: 2rem;
	margin-top: 0px;
}

section.seccion3
{
	padding: 0px;
}

section.seccion3 .columna
{
	position: relative;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 37.5%;
	overflow: hidden;
	background-color: green;
}

section.seccion3 .columna img
{
	-o-object-position: center;
	   object-position: center;
	-o-object-fit: cover;
	   object-fit: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
    transition: all .5s ease;
}

section.seccion3 .columna .contenedor-info
{
    width: 100%;
    text-align: center;
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    padding: 0 14px;
    padding: 0 1rem;
 /*    margin-top: -45px; */
    transform: translate(0, -50%);
    transition: all .5s ease;
}

section.seccion3 .columna:hover .contenedor-info
{
    top: 50%;
}

section.seccion3 .columna:hover img
{
	filter: grayscale(1);
	opacity: .5;
	transform: scale(1.8) rotate(45deg);
}

section.seccion3 .columna .contenedor-info h3
{
	color: #fff;
	margin-top: 0;
	margin-bottom: 2rem;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	padding: 20px;
}

section.seccion3 .columna .contenedor-info h3:before
{
	content: " ";
	position: absolute;
	width: 20px;
	height: 20px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	top: 0px;
	left: 0px;
}

section.seccion3 .columna .contenedor-info h3:after
{
	content: " ";
	position: absolute;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	bottom: 0px;
	right: 0px;
}

section.seccion3 .columna .contenedor-info a.btn
{
	background-color: #000;
}

section.seccion3 .columna .contenedor-info a.btn:hover
{
	background-color: #fff;
	border: 1px solid #000;
}

section.seccion4 .columna
{
	text-align: center;
	position: relative;
}

section.seccion4 img
{
	margin-bottom: 28px;
	margin-bottom: 2rem;
}

section.seccion4 h3
{
	display: inline-block;
	padding: 20px;
	position: relative;
}

section.seccion4 h3:before,section.seccion4 h3:after
{
	position: absolute;
	content: " ";
}

section.seccion4 h3.titulo1:before
{
	width: 30px;
	bottom: 0px;
	left: 50%;
	margin-left: -15px;
	height: 1px;
	background-color: #000;
}

section.seccion4 h3.titulo2:before
{
	width: 90px;
	top: 0px;
	left: 50%;
	margin-left: -45px;
	height: 1px;
	background-color: #000;
}


section.seccion4 h3.titulo2:after
{
	width: 30px;
	bottom: 0px;
	left: 50%;
	margin-left: -15px;
	height: 1px;
	background-color: #000;
}

section.seccion4 h3.titulo3:before
{
	width: 10px;
	height: 10px;
	bottom: 0px;
	left: 0px;
	background-color: #000;
}


section.seccion4 h3.titulo3:after
{
	width: 10px;
	height: 10px;
	top: 0px;
	right: 0px;
	background-color: #000;
}

section.seccion4 h3.titulo4:before
{
	width: 10px;
	height: 10px;
	bottom: 0px;
	left: 0px;
	border: 1px solid #000;
}


section.seccion4 h3.titulo4:after
{
	width: 10px;
	height: 10px;
	top: 0px;
	right: 0px;
	border: 1px solid #000;
}

/*
section.seccion4 div.titulo5
{
	display: inline-block;
	position: relative;
	line-height: 1;
}

section.seccion4 div.titulo5:before
{
	content: " ";
	position: absolute;
	width: 10px;
	height: 10px;
	bottom: 15px;
	right: 0px;
	border: 1px solid #000;
}

section.seccion4 div.titulo5:after
{
	content: " ";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 15px;
	left: 0px;
	border: 1px solid #000;
}*/

section.seccion4 h3.titulo4 .derecha
{
	content: " ";
	position: absolute;
	width: 10px;
	height: 10px;
	bottom: 0px;
	right: 0px;
	border: 1px solid #000;
}

section.seccion4 h3.titulo4 .izquierda
{
	content: " ";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0px;
	left: 0px;
	border: 1px solid #000;
}

section.seccion4 a.btn
{
	background-color: transparent;
	border: 1px solid #000;
	color: #000;
}

section.seccion5 .row
{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center;
}

section.seccion5 form
{
	padding: 56px;
	padding: 4rem;
	background-color: #ddd;
}

section.seccion5 form .form-group
{
	display: block;
	margin-bottom: 14px;
	margin-bottom: 1rem;

}

section.seccion5 form .form-group .form-field
{
	width: 100%;
	border: 1px solid #bbb;
	padding: 14px;
	padding: 1rem;
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1;
}

section.seccion5 form .form-group textarea.form-field
{
	height: 140px;
	height: 10rem;
}

section.seccion5 form #enviar
{
	border: 1px solid #000;
	background-color: #fff;
	padding: 14px 21px;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1;
}

section.seccion5 .info
{
	position: relative;
	margin-bottom: 28px;
	margin-bottom: 2rem;
	padding-left: 42px;
	padding-left: 3rem;
	font-size: 21px;
	font-size: 1.5rem;
}

section.seccion5 .info i
{
	position: absolute;
	left: 0px;
	top: 0px;
}

/*section.seccion5 input:checked
{
	width: 100px;
	height: 100px;
}*/

section.seccion5 input[type="text"]:focus
{
	outline: 1px solid #000;	
}

section.seccion6
{
	padding-top: 0;
	padding-bottom: 25%;
	position: relative;
}

section.seccion6 iframe
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

section.seccion7 table tr td
{
	padding: 1rem;
}
/*odd: todos los hijos impares*/
section.seccion7 table tr:nth-child(odd)
{
	background-color: #000;
	color: #fff;
}

/*odd: todos los hijos pares*/
section.seccion7 table tr:nth-child(even)
{
	background-color: #ddd;
}

footer
{
	background-color: #000;
	padding: 14px;
	padding: 1rem;
	text-align: center;
	color: #fff;
}

.columna-direccion-xs
{
	display: none;
}

.redes
{
	position: fixed;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
}

.redes a
{
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: #fff;
	opacity: .5;
	filter: grayscale(1);
	transition: all .3s ease-in;
}

.redes a:hover
{
	opacity: 1;
	filter: grayscale(0);
}

.redes a.fb
{
	background-color: #3b5998;
}

.redes a.tw
{
	background-color: #1da1f2;
}

.redes a.ins
{
	background-color: #f77737;
}

.redes a.yt
{
	background-color: #ff0000;
}

.redes a i
{
	display: inline-block;
	transform: rotate(90deg);
	transition: all .3s ease-in;
}
 
.redes a:hover i
{
	transform: rotate(0deg);
}

.oferta
{
    background-color: red;
    color: #fff;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: .5rem;
    flex-wrap: wrap;
    line-height: 1;
    position: absolute;
    top: -1rem;
    left: 0px;
    transform: scale(0.3);
    transition: all .3s ease-in;
}

.oferta span
{
	font-size: .7rem;
}

section.seccion4 .columna:hover .oferta
{
    transform: scale(1) rotate(-30deg);
}

@media (min-width: 1200px)
{
	.container
	{
		width: 1199px;
	}
}


/* esto puede ser un ipad horizontal*/
@media (min-width: 992px) and (max-width: 1199px)
{
	.container
	{
		width: 970px;
	}
}


/* esto puede ser un ipad vertical*/
@media (min-width: 768px) and (max-width: 991px)
{
	body {
    	margin-top: 169.25px;
	}

	.container
	{
		width: 750px;
	}

	header
	{
		padding-bottom: 0;
	}

	header .row {
	    width: auto;
	    margin: 0;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}

	header .row nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		width: 100%;
		margin-top: 1rem;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	header .row nav a{
		background-color: #000;
		color: #fff;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		-ms-flex-preferred-size: 33.33%;
		    flex-basis: 33.33%;
		margin: 0;
	}

	section.seccion1 {
	    height: calc(100vh - 169.25px);
	}

	section.seccion2 .row{
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	}

	section.seccion2 .row h1
	{
		margin-bottom: 3rem;
	}


	section.seccion2 .columna.columna-4{
	    width: 50%;
	    margin-bottom: 2rem;
	}

	section.seccion2 .columna.columna-4:first-of-type
	{
	    margin-bottom: 0;
	}

	section.seccion2 .columna.columna-4:last-of-type
	{
	    margin-bottom: 0;
	}

	/*section.seccion2 .columna.columna-4:last-child
	{
	    margin-bottom: 0;
	}*/

	section.seccion4 .columna.columna-3 {
		width: 50%;
	}
}

/* esto puede ser un smarthphone */
@media (max-width: 767px)
{
	.container
	{
		width: 100%;
	}

	header nav a {
	    padding-left: 10px;
	    padding-right: 10px;
	}

	section {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}

	section.seccion1 .contenedor-titulo
	{
	    text-align: center;
	    left: 15px;
	    right: 15px;
	}

	section.seccion1 .contenedor-titulo h1
	{
		font-size: 2.5rem;
	}

	section.seccion2 .columna.columna-4 {
	    width: 100%;
	    margin-bottom: 30px;
	}

	section.seccion3 .columna.columna-6
	{
	    width: 100%;
	    padding-bottom: 100%;
	}

	section.seccion4 .columna.columna-3 {
	    width: 50%;
	    margin-bottom: 30px;
	}

	section.seccion5 .columna.columna-6 {
	    width: 100%;
	}

	section.seccion5 .columna.columna-6.columna-formulario
	{
		padding-left: 0;
		padding-right: 0;
	}

	section.seccion5 form
	{
		padding: 30px;
	}

	section.seccion5 form #enviar
	{
		width: 100%;
	}

	section.seccion6 {
	    padding-bottom: 100%;
	}

	.columna-direccion-xs
	{
		display: inline-block;
	}

	.columna-direccion-lg
	{
		display: none;
	}
}

/*
Orientacion del dispositivo

- landscape (horzontal)
- portrait	(vertical)

@media (max-width: 767px) and (orientation: portrait)
{
	.container
	{
		width: 100%;
	}
}*/